.contenedor {
    max-width: 70rem;
    margin: auto;
}

.titulo {
    font-size: 2rem;
    font-weight: 600;
    color: #008FBD;
    text-align: center;
}

.contenido {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
}

.contenido p {
    font-size: 1rem;
}

.contenido button {
    background-color:#12C5FF;
    text-align: center;
    color: white;
    padding: 6px;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    border-radius: 12px;
    width: 250px;
    border: 1px solid black;
    font-weight: 600;
}

.contenido button:hover {
    cursor: pointer;
    background-color: aliceblue;
    color: black;
  }

  .contenido h2 {
    font-size: 1.5rem;
  }

  .contenido h2 :last-of-type{
    text-align: center;
  }

  .funciones {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }